<div  dir=rtl class="wrapper">
    <h2>בואו לדבר איתנו</h2>
    <h5>תוכלו להשאיר לנו הודעה ונשמח לחזור אליכם בהקדם</h5>

<form action="/action_page.php">
  <label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile"><br><br>
  <input type="submit">
</form>



    
<div appearance="fill" class="appearance">
    <mat-label>שם מלא</mat-label>
    <input  type="email" formControlName="email" name="email">
  </div>
  <div appearance="fill" class="appearance">
    <mat-label>פלאפון </mat-label>
    <input  type="text" formControlName="firstName" name="firstName">
  </div>
  <div appearance="fill" class="appearance">
    <mat-label>תמונה</mat-label>
    <input  type="image" formControlName="phoneNumber" name="phoneNumber">
  </div>
  <div appearance="fill" class="appearance">
    <mat-label>תוכן ההודעה</mat-label>
    <textarea class="details-input" style="height: 150px;" matInput></textarea>
    <div class="example-button-row">
    <button mat-button>שלח</button></div>


 
    <!-- <button mat-raised-button color="primary"  > שלח</button> -->

</div>



  