<div dir=rtl class="wrapper">
  <h2>בואו לדבר איתנו</h2>
  <h5>תוכלו להשאיר לנו הודעה ונשמח לחזור אליכם בהקדם</h5>
<form [formGroup]="addMassage">
  <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>


  <div appearance="fill" class="appearance">
    <mat-label>שם פרטי</mat-label>
    <input type="text" formControlName="firstName" name="firstName">
  </div>
  <div appearance="fill" class="appearance">
    <mat-label>שם משפחה</mat-label>
    <input type="text" formControlName="lastName" name="lastName">
  </div>
  <div appearance="fill" class="appearance">
    <mat-label>פלאפון </mat-label>
    <input type="text" formControlName="phon" name="phon">
  </div>
  
  <div appearance="fill" class="appearance">
    <mat-label>תוכן ההודעה</mat-label>
    <textarea class="details-input" formControlName="massageContent" name="massageContent"  matInput></textarea>
    <!-- style="height: 150px;" -->
    <div class="example-button-row">
      <button mat-button  (click)="add()">שלח</button>
    </div> 

  </div> 
</form>