<div class="location" *ngIf="thisCategory">
    <mat-card class="example-card"> 
        <img mat-card-image src={{thisCategory.bigPicture}}> 
        <div mat-card-avatar class="example-header-image"  style="background-image: url({{thisCategory.smallPicture}})">
            
        </div>
        {{thisCategory.categoryName}}
     </mat-card> 
     <div class="menu">
        <div class="menu1" >
   
        <button class="bottonMenu" (click)="showPublicationMembers()" >חברים בקהילה</button></div>
        <div class="menu1" >
        <button class="bottonMenu"(click)="showPublicationMembers()"  >פרסומים </button>
        <button class="bottonPlus" (click)="openDialog()" >+</button>
    </div>
        </div>
    </div>
    <div class="logo" style="background-image:'url(/../../assets/Pictures/logo.gif)' ;"  routerLinkActive="active" routerLink="/hom/"></div>
    
    <div class="location">
       
        <mat-card class="example-card-bottom" *ngIf="show"> 
            <div class="title">כל הפרסומים</div>
           <br>
            <hr> 
            <div class="pic" *ngFor="let p of Publications" (click)="openPublication(p.publicationId)" style="height: auto;"> 
                {{p.postTitle}}
                <div class="star" [ngStyle]="{'color': p.ifStar == true ? 'yellow' : 'gray'}">&#9733;</div>
                <br>
                <div style="display: none;" id={{p.publicationId}}>
                    <hr>
                    {{p.publicationContent}}
                </div>
            </div>
        
    </mat-card> -
     <mat-card class="example-card-bottom" *ngIf="showMembers">
        <div class="title">כל החברים</div>
        <br>
        <hr>
        <div id="2" class="pic" *ngFor="let m of Members">
            <span (click)="openPublication(m.UserId)"> {{m.user.firstName}} {{m.user.lastName}} </span> 
            <i class="fa fa-envelope" style="font-size:24px"></i>
          <mat-icon class="envelope" (click)="sendMssege()"> email</mat-icon> 

       </div> 
    </mat-card>
</div>
