<button class="bottonMenu" routerLinkActive="active" routerLink="/manageCategory">הוספת קטגוריה</button>


<ng-container *ngFor="let category of categories">
  <div class="table-container">

    {{category.categoryName}}

    <button mat-icon-button (click)="populateForm(category)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <div *ngIf="updateCategoryForm.value.categoryName==category.categoryName && (updateCategoryForm.value.bigPicture || updateCategoryForm.value.smallPicture)">
    <form [formGroup]="updateCategoryForm">
      <mat-form-field>
        <input matInput placeholder="Category Name" formControlName="categoryName ">
      </mat-form-field>
      <mat-form-field>
        <div>
          <img style="height: 100px; width: 100px;" [src]="updateCategoryForm.value.bigPicture" />
        </div>
        <input matInput placeholder="Big Picture URL" formControlName="bigPicture">
      </mat-form-field>

      <mat-form-field>
        <div>
          <img  style="height: 80px; width: 100px;" [src]="updateCategoryForm.value.smallPicture"/>
        </div>
        <input matInput placeholder="Small Picture URL" style="height: 100px;" formControlName="smallPicture">
      </mat-form-field>

      <button mat-raised-button (click)="updateCategory()">Update</button>
    </form>
  </div>
</ng-container>
